<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="DEBUG"/>
				<arg key="showLogName" value="true"/>
				<arg key="showDataTime" value="true"/>
				<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
			</factoryAdapter>
		</logging>
	</common>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
